h5py==3.9.0
imageio==2.31.5
imgaug==0.4.0
joblib==1.2.0
jsonschema==4.17.3
keras==2.13.1
lxml==4.9.3
opencv-python==4.8.1.78
Pillow==9.5.0
pip-tools==7.3.0
PyQt5==5.15.9
PyQt5-Qt5==5.15.2
PyQt5-sip==12.12.2
scikit-image==0.22.0
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-estimator==2.13.0
tensorflow-intel==2.13.0
tensorflow-io-gcs-filesystem==0.31.0